.SearchBar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.SearchBar div{
    width: 80%;
    position: relative;
}
.SearchBar input{
    width: 100%;
    height: 70px;
    border-radius: 20px;
    padding: 20px;
    border: none;
    
    position: relative;
}




.SearchBar div .searchicon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    font-size: 24px;
}



