.Card{
    width: 70%;
    height: 250px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-shadow:  0 20px 30px -25px rgb(65, 52, 183, 0.25);
}


.Right-container-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
}
.Left-container-card{
    width: 60%;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 20px;
    gap: 20px;
    
}


.Faceicon{
width: 100px;
}

.informationpsy {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.informationpsy :nth-child(3){
    display: flex;
    align-items: center;
    gap: 5px;
}


.informationpsy p {
    color: var(--text);
    font-size: 15px;
}


.Right-container-card .num-mail p {
    align-items: center;
    display: flex;
    gap: 10px;
}
.num-mail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Right-container-card  .icon{
    font-size: 20px;
}

.buttonRDV{
    width: 230px;
    border-radius: 20px;
}

.Langues{
    display: flex;
    gap: 12px;
    margin-left: 10px;
    padding-top: 5px;
}



.Flag{
    height:15px;
    box-shadow: 1px 1px 5px 0px rgb(0,0 ,0,0.2  );
}
.UK{
    height: 14px;

}
.mapicon {
    margin-bottom: 11px;
    *{
        color: var(--primary);
    }
}
