:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text: #071519;
  --background: #eaeef6;
  --primary: #3da6cc;
  --secondary: #dedcff;
  --accent: #d8c46a;
  --button: #1538d3;

}
body::-webkit-scrollbar {
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
}
body{
  background-color: var(--background);
  height: 100%;
}
a{
  color: var(--text);
}