.SectionPresentation{
    
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    padding: 100px;
    gap: 20px   ;
    align-items: center;
    overflow: hidden;
   margin-top:30px;
    
}   

.SectionPresentation img{
    height: 700px;
 
   position: absolute;
   bottom: 0px;
    right: 0;
    z-index: -1;
}
.SectionPresentation h1, .SectionPresentation span{
    font-size: 60px;
    opacity: 0.9 ;
    
}
.SectionPresentation span{
    color: #344ba0;
    opacity: 1;
    text-shadow: 1px 1px 1px rgba(64, 190, 222, 0.6);
}

.text-content{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    
}
.text-content p{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
@media (max-width:1200px) {
    .SectionPresentation{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
        gap: 0;
        height: 100%;
        padding: 0;
    }
    .SectionPresentation img{
        position: static;
        height: 100%;
        z-index: 1;
    }
    .text-content{
        width: 90%;
        display: flex;
        flex-direction: column;
       width: fit-content;
       

    }
    .text-content :nth-child(1)>*{
        width: fit-content;
    }
    
}



@media (max-width: 615px) {
    
    .text-content{
        width: 100%;
        display: flex;
        flex-direction: column;
       width: fit-content;
       padding: 0 30px

    }
    .text-content :nth-child(1)>*{
        width: fit-content;
    }
    .text-content >*{
        width: fit-content;
    }
    .text-content h1,.text-content span{
        font-size: 50px;
    }
    .text-content h2{
        text-align: justify;
    }
}

@media (max-width:500px) {
    .text-content h1,.text-content span{
        font-size: 35px;
    }
}
